*, *::before, *::after {
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

a {
  text-decoration: none;
}

ul,li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

p {
  line-height: 1.5;
}