<section class="bg-primary">
  <header class="header container-fluid d-flex justify-content-between align-items-center flex-wrap">
    <a href="index.html">
      <img class="header__logo py-3" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/logo-white.png" alt="logo">
    </a>
    <ul class="nav d-flex flex-wrap">
      <li class="header__item">
        <a class="fs-5 fs-sm-4 text-white" href="products.html">系列鏡框</a>
      </li>
      <li class="header__item">
        <a class="fs-5 fs-sm-4 text-white" href="store.html">門市據點</a>
      </li>
      <li class="header__item">
        <a class="fs-5 fs-sm-4  text-white" href="blog.html">部落格</a>
      </li>
      <li class="header__item">
        <a class="fs-5 fs-sm-4  text-white" href="/2024-glasses-website/pages/test/test.html">常見問題</a>
      </li>
    </ul>
  </header>
</section>




