.footer {
  &__line {
    border: 1px solid #FFFFFF;
  }

  &-icon {
    width: 48px;
    height: 48px;
    margin: 48px 0 0 24px;

    @include pad {
      width: 40px;
      height: 40px;
    }

    @include mobile {
      width: 24px;
      height: 24px;
      margin: 24px 0 0 8px;
    }
  }
}

.footer-nav {
  margin: 60px 0 45px;
  gap: 48px;
}